<style>
.contentx{
  width: 100%;
  height: 400px;

}
</style>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= form_with scope: @blog, url: admin_blogs_path, local: true do |form|%>
      <p class="form">
        <%= form.label :Title %><br>
        <%= form.text_field :title %>
      </p>
      <p>
        <%= form.label :Content %><br>
        <%= form.text_field :content, :class => "contentx" %>
      </p>

      <p>
        <%= form.label :Linkimage %><br>
        <%= form.text_field :image %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <%end%>
  </div>
  <div class="col-md-2"></div>
</div>
