<style>
input
 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
 }
 </style>

<div   style="background-color:powderblue;padding: 2em; margin: 0 auto " >
<%#= form_with model @product, url: products_path, local: true do |form| %>
<%= form_with model: @product do |form| %>
<h1><center>Edit Data Sản Phẩm</center></h1>
  <p class="form">
  <%= form.label :NameProduct %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :Price %><br>
    <%= form.text_field :price %>
  </p>
  <p>
    <%= form.label :Description %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :Linkimage %><br>
    <%= form.text_field :image %>
  </p>
  <p>
    <%= form.label :Loại %><br>
    <%= form.text_field :category_name %>
  </p>
        <p>
          <label>My Avatar</label>
          <div class="row">
              <% @avatars.each_with_index do |a, i| %>
            <div class="col-md-3">

              <img width="90%" style=" height:150px; display: block; " class="" src="<%=a.url%>" alt="">
            <label>
              <%#= form.check_box :remove_avatar, i %>
              <td><%= check_box_tag "product[remove_avatar][]", i %></td>
              Remove image
            </label>
          </div>
          <%end%>
          <h6>Upload a different photo...</h6>
          <p>
            <%= form.file_field :avatars, multiple: true %>

          </p>
        </div>

        </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
